body {
    background-color: #2f2f2f;
}
/* .burger {
    position: fixed;
    right: 83px;
    top: 35px;
    z-index: 9998;
    cursor: pointer;
    padding: 5px 4px;
    background-color: transparent;
} */

.burger i {
    display: block;
    width: 42px;
    height: 2px;
    margin: 8px;
    background-color: #7a7a7a;
}